
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos - ECMRKNet</title>
    <link rel="stylesheet" href="style_planos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="{% static 'imagens/logo-guia.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/style_planos.css' %}">

   <script>
    function empresa() {
      window.location.href = "/empresa/";
    }
    function login() {
      window.location.href = "/login/";
    }
    function cadastro() {
      window.location.href = "/cadastro/";
    }
    function contato() {
      window.location.href =  "/contato/";
    }
    function index() {
      window.location.href = "/";
    }
    function cadatro() {
      window.location.href = "/cadastro/"
    }
    function equipamentos() {
      windows.location.href = "/equipamento/"
    }
  </script>



  
</head>
<body>
    <section class="divisoria">
        <img src="https://cdn-icons-png.flaticon.com/512/696/696975.png" alt="" style="width: 20px; height: 20px; padding: 3px 3px 0px 0px;">
        <a href="#" onclick = "cadastro()" class = 'linksiniciais0'> Cadastre-se  | </a>
        <p class="linksiniciais0"><strong>Sou cliente</strong></p>
        <a href="#" onclick = "login()" class="linksiniciais0">entrar</a>
    </section>

  <header class="body1">
    <nav>
        <table>
            <tr>
                <div class="container-inicial">
                    <td>
                        <div class="imagem-logo">
                          <a onclick="index()"><img src="{% static 'imagens/logo-ecmrknet.png' %}" title="LOGO-ECMRKNET"></a>
                          
                        </div>
                    </td>
                    <td>
                        <div class="linksiniciais">
                            <ul>
                              <li><a class="links-iniciais" href="#" onclick="index()">Início</a></li>
                              <li><a class="links-iniciais" href="{% url 'equipamento' %}" onclick="equipamentos()">Equipamentos</a></li>
                              <li><a class="links-iniciais" href="#" onclick="empresa()">Empresa</a></li>
                              <li><a class="links-iniciais" href="#" onclick="contato()">Contatos</a></li>
                              <li><a class="links-iniciais" href="#" onclick="login()">Área do Cliente</a></li>
                              <li><a class="links-iniciais" href="#" onclick="cadastro()">Faça seu cadastro</a></li>
                            </ul>
                        </div>
                    </td>
                  </div>
            </tr>
        </table>
    </nav>
  </header>

  <script>
    function empresa() {
      window.location.href = "/empresa/";
    }
    function login() {
      window.location.href = "/login/";
    }
    function cadastro() {
      window.location.href = "/cadastro/";
    }
    function contato() {
      window.location.href =  "/contato/";
    }
    function index() {
      window.location.href = "/";
    }
    function cadatro() {
      window.location.href = "/cadastro/"
    }
    function equipamento() {
      windows.location.href = "/equipamento/"
    }
  </script>

  
  <section class="body2">
 

    <section class="CARALHO">
  <form id="instalacao-form" method="POST" action="{% url 'instalacao' %}">
    {% csrf_token %}
    <table>
      <tr class="linha-campo-plano">
        <td class="coluna-campo-plano"><input placeholder="NOME COMPLETO" name="nome" class="caixas-entradas" /></td>
        <td class="coluna-campo-plano"><input placeholder="E-MAIL" name="email" class="caixas-entradas" /></td>
        <td class="coluna-campo-plano"><input placeholder="CELULAR 1" name="celular1" class="caixas-entradas" /></td>
      </tr>
	<tr class = "linha-campo-plano">
              <td  class = "coluna-campo-plano"><input placeholder = "CELULAR 2"  name = "celular2" class="caixas-entradas"></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "TELEFONE"  name = "telefone" class="caixas-entradas"></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "CIDADE"  name = "cidade" class="caixas-entradas"></input></td>
          </tr>
          <tr class = "linha-campo-plano">
              <td  class = "coluna-campo-plano"><input placeholder = "ESTADO"  name = "estado" class="caixas-entradas"></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "CEP" name = "cep" class="caixas-entradas"></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "BAIRRO" name = "bairro" class="caixas-entradas"></input></td>
          </tr>
          <tr class = "linha-campo-plano">
              <td  class = "coluna-campo-plano"><input placeholder = "ENDERECO"  name = "endereco" class="caixas-entradas"></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "NÚMERO"  name = "numero" class="caixas-entradas" ></input></td>
              <td  class = "coluna-campo-plano"><input placeholder = "COMPLEMENTO"  name = "complemento" class="caixas-entradas" name = "complemento"></input></td>
          </tr>
        </tr>

        <tr class="equipamentos">
          <tr>
            <td>
              <select name="plano" id="plano" class="selecoes">
              <option value="essencial">PLANO ESSENCIAL</option>
              <option value="basico">PLANO BÁSICO</option>
              <option value="simples">PLANO SIMPLES</option>
              <option value="intermediario">PLANO INTERMEDIÁRIO</option>
              <option value="avancado">PLANO AVANÇADO</option>
              <option value="premium">PLANO PREMIUM</option>
              <option value="bronze">COMERCIAL BRONZE</option>
              <option value="prata">COMERCIAL PRATA</option>
              <option value="ouro">COMERCIAL OURO</option>
              <option value="orcamento">JÁ SOLICITEI O ORÇAMENTO</option>
            </select></td>
            <td>
              <select name="roteador" id="roteador" class="selecoes">
              <option value="tp-lk-c6">TP-LINK C60</option>
              <option value="tp-lk-c5">TP-LINK C50</option>
              <option value="tp-lk-c8">TP-LINK C80</option>
              <option value="tp-lk-ac1200">TP-LINK AC1200</option>
              <option value="tp-lk-ec220">TP-LINK EC220</option>
              <option value="tp-lk-wr841">TP-LINK WR841 </option>
              <option value="tp-lk-n">TP-LINK N</option>
              <option value="tp-lk-ac12">TP-LINK AC12</option>
              <option value="tp-lk-we829n">TP-LINK WE829N</option>
              <option value="tp-lk-we840n">TP-LINK WE840N-W</option>
              <option value="tp-lk-ax73">TP-LINK ARCHE AX73</option>
              <option value="mlt-n300">MULTILASER N300</option>           
              <option value="mlt-re163v">MULTILASER RE163V</option>        
              <option value="mlt-re160">MULTILASER RE160</option>      
              <option value="mlt-re172">MULTILASER RE172</option>   
              <option value="mlt-re015">MULTILASER RE015</option>  
              <option value="mlt-re184">MULTILASER RE184</option>   
              <option value="mlt-re185">MULTILASER RE185</option>  
              <option value="mlt-re017">MULTILASER RE017</option>  
              <option value="mlt-re063">MULTILASER RE063</option> 
              <option value="mlt-re011">MULTILASER RE011</option>
              <option value="intbrs-2100g">INTELBRAS W5-2100G</option>     
              <option value="intbrs-rf-1200">INTELBRAS RF-1200</option>    
              <option value="intbrs-rg-1200">INTELBRAS RG-1200</option>   
              <option value="intbrs-rf-301k">INTELBRAS RF-301K</option>   
              <option value="intbrs-rf-1200f">INTELBRAS RF-1200F</option>   
              <option value="intbrs-gf-1200">INTELBRAS GF-1200</option>  
              <option value="intbrs-rx-1500">INTELBRAS RX-1500</option>   
              <option value="intbrs-w4-300f">INTELBRAS W4-300F</option>   
              <option value="intbrs-iwr-3000n">INTELBRAS IWR-3000N</option>   
              <option value="intbrs-w6-1500">INTELBRAS W6-1500</option>   
              <option value="intbrs-wrn300">INTELBRAS WRN300</option>   
              <option value="intbrs-121ac">INTELBRAS 121AC</option>   
              <option value="intbrs-win240">INTELBRAS WIN240</option>   
              <option value="hwei-ax2s">HUAWEI AX2S</option>   
              <option value="hwei-ws7000">HUAWEI WS7000</option>   
              <option value="hwei-ws7001">HUAWEI WS7001</option>  
              <option value="hwei-ws318n">HUAWEI WS318N</option>  
              <option value="hwei-ac1300">HUAWEI AC1300</option>  
              <option value="hwei-ws7000">HUAWEI WS7000</option>  
              <option value="hwei-ws5200">HUAWEI WS5200</option>  
              <option value="hwei-ws7206">HUAWEI WS7206</option>  
              <option value="hwei-ws7100">HUAWEI WS7100</option>
              <option value="dlnk-d846">D-LINK DIR-846</option>    
              <option value="dlnk-d615">D-LINK DIR-615</option>   
              <option value="dlnk-d610">D-LINK DIR-610</option>     
              <option value="dlnk-d842">D-LINK DIR-842</option>    
              <option value="dlnk-d853">D-LINK DIR-853</option>    
              <option value="dlnk-610n">D-LINK DIR-610N</option>    
              <option value="dlnk-n300">D-LINK DIR615 N300</option>    
              <option value="dlnk-2730e">D-LINK DSR-2730E</option>    
              <option value="dlnk-1360">D-LINK DIR-1360</option>    
              <option value="orcamento">JÁ SOLICITEI O ORÇAMENTO</option>
            </select></td>
            <td class="coluna2"><input placeholder = "OBSERVAÇÃO" class="caixas-entradas" name = 'observacao'></input></td>
          </tr>
        </tr>

        <tr>
          <tr class = "linha-campo-plano">
            <td class = "coluna-campo-plano"><input type="text" class="caixas-entradas" placeholder="APLICAR CUPOM" name = "cupom"></td>
            <td><p class="cpf">Se POSSUI cadastro, informe seu cpf:</p></td>
            <td class = "coluna-campo-plano"><input placeholder = "CPF: XXX.XXX.XXX-XX" class="caixas-entradas" name = "cpf"></input></td>
          </tr>
        </tr>
        
        <tr>
          <tr class="links-conhecimentos">
            <td>
              <p><a href="" class="links-planos" onclick="index()">CONHEÇA NOSSOS PLANOS</a></p>
            </td>
            <td>
              <p><a href="" class="links-equipamentos" onclick = "equipamentos()">CONHEÇA NOSSOS EQUIPAMENTOS</a></p>
            </td>
            <td>
              <p><a href="" class="links-cadastro"onclick = "cadastro()">CADASTRE-SE</a></p>
            </td>
          </tr>
        </tr>
      
      <tr>
        <td>
          <button type="submit" class="btn-primary btn-lg" id="solicitar-instalacao">SOLICITAR INSTALAÇÃO</button>
        </td>
        <td>
          <!-- Deixe o espaço em branco se não tiver conteúdo para essa célula -->
        </td>
        <td>
          <button type="button" class="btn-danger btn-lg" id="cancelar">CANCELAR</button>
        </td>
      </tr>
    </table>
  </form>
</section>
  
    
    </section>
   
   
   
  </section>

  <section class="body3">
      <h1></h1>
  </section>

  <section class="body4">
    
    

  </section>
  

    
        <section id="divisoria5">
            <div id="titulo">
                <table>
                    <tr id="titulo">
                        <td id="titulo">
                            MENU
                        </td>
                        <td id="titulo">
                            PLANOS
                        </td>
                        <td id="titulo">
                            CONTATO
                        </td>
                        <td id="titulo">
                            DESENVOLVEDORES
                        </td>
                    </tr>
                    <div id="final">
                        <tr id="links-finais">
                            <td>INÍCIO</td>
                            <td>PARA VOCÊ</td>
                            <td>(82) 2601-9878</td>
                            <td>EDSON BARROS PONCIÚNCULA</td>
                        </tr>
                        <tr id="links-finais">
                            <td>EMPRESA</td>
                            <td>PARA EMPRESA</td>
                            <td>contato@ecmrk.net.com</td>
                            <td>MARIA RAISSA BEATRIZ CORDEIRO DA SILVA</td>
                        </tr>
                        <tr id="links-finais">
                            <td>PLANOS</td>
                            <td>PARA COORPORAÇÕES</td>
                            <td>(82) 9 9825-9878 - FINANCEIRO</td>
                            <td>CLAUDIA ANTONIETA DA COSTA SILVA</td>
                        </tr>
                        <tr id="links-finais">
                            <td>FALE CONOSCO</td>
                            <td></td>
                            <td>(82) 9 9365-9178 - SUPORTE</td>
                            <td>MILLENY OLIVEIRA DA SILVA</td>
                        </tr>
                        <tr>
                            <tr id="links-finais">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>KALLYNE FERRO VEIGA</td>
                            </tr>
                        </tr>
                    </div>
                    
                </table>
            </div>
            
        
          </section>
        
        
        
          <section class="container-final">
            <div>
                <p>CNPJ: 123.456.789-10</p>
                <p>Endereço: Vila Maria, 240 - Palmeira dos Índios, Alagoas</p>
                <p>Todos os direitos reservados &copy;2023   <strong>ECMRKNet</strong> </p>
              </div>
          </section>
            
    
</body>
</html>